name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository and submodules
    - uses: actions/checkout@v3
    - with: 
        submodules: recursive

    - name: Build the Docker image
      run: docker build . --file Vulcanova.Febe/Dockerfile --tag febe
